@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Palanquin:wght@100;200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Palanquin:wght@100;200;300;400;500;600;700&display=swap");
@import "tailwindcss";
@theme{
    --text-xs-size: 12px;
    --text-xs-line-height: 16px;
    --text-sm-size: 14px;
    --text-sm-line-height: 20px;
    --text-base-size: 16px;
    --text-base-line-height: 19.5px;
    --text-lg-size: 18px;
    --text-lg-line-height: 21.94px;
    --text-xl-size: 20px;
    --text-xl-line-height: 24.38px;
    --text-2xl-size: 24px;
    --text-2xl-line-height: 29.26px;
    --text-3xl-size: 28px;
    --text-3xl-line-height: 50px;
    --text-4xl-size: 48px;
    --text-4xl-line-height: 58px;
    --text-8xl-size: 96px;
    --text-8xl-line-height: 106px;

    /* Font families */
    --font-palanquin: 'Palanquin', sans-serif;
    --font-montserrat: 'Montserrat', sans-serif;

    /* Colors */
    --color-primary: #ECEEFF;
    --color-coral-red: #FF6452;
    --color-slate-gray: #6D6D6D;
    --color-pale-blue: #F5F6FF;
    --color-white-400: rgba(255, 255, 255, 0.8);

    /* Box shadows */
    --shadow-3xl: 0 10px 40px rgba(0, 0, 0, 0.1);

    /* Screens / breakpoints */
    --screen-wide: 1440px;
}
/* ----------------- Background Images ----------------- */
.background-image-card {
    background-image: url('assets/images/thumbnail-background.svg');
    background-size: cover;
    background-position: center;
}

.background-image-hero {
    background-image: url('assets/images/collection-background.svg');
    background-size: cover;
    background-position: center;
}

/* ----------------- Sections / Utilities ----------------- */
.max-container { max-width: 1400px; margin: 0 auto; }

.input {
    @apply sm:flex-1 max-sm:w-full text-base leading-normal text-slate-gray pl-5 max-sm:p-5 outline-none sm:border-none border max-sm:border-slate-gray max-sm:rounded-full;
}

.padding { @apply sm:px-16 px-8 sm:py-24 py-12; }
.padding-x { @apply sm:px-16 px-8; }
.padding-y { @apply sm:py-24 py-12; }
.padding-l { @apply sm:pl-16 pl-8; }
.padding-r { @apply sm:pr-16 pr-8; }
.padding-t { @apply sm:pt-24 pt-12; }
.padding-b { @apply sm:pb-24 pb-12; }
.info-text { @apply font-montserrat text-slate-gray text-lg leading-7; }

